.error {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 70vh;
   color: #672280;
}

.mail__link {
   text-decoration: none;
}

.mail__address {
   color: chocolate;
}

.error__container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
