.login__ui {
   width: 400px;
   height: 60vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   border: none;
   border-radius: 10px;
   background-color: #672280;
}

.login__container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: auto;
}

.login__title {
   text-align: center;
   margin-top: -1%;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   color: #ffffff;
}

.login__phrase {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   text-align: center;
   color: #ffffff;
}

input {
   background: #d9d9d9;
   width: 344px;
   height: 44px;
   margin-left: 65px;
   outline: none;
   border-radius: 5px;
   border: none;
   margin-top: 50px;
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: 100;
   font-size: 16px;
   display: flex;
   color: #000000;
   padding-left: 10px;
}

.login__button {
   text-align: center;
}

.login__button:hover {
   cursor: pointer;
}

.link__decoration {
   text-decoration: none;
   width: 400px;
}

.logout__container {
   width: 88%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 7px;
   border-radius: 5px;
}

.sidebar__logout {
   margin: auto;
}

.logout__ui {
   height: 45px;
}

.google-icon {
   color: #672280;
}

.btn-login {
   background-color: #d9d9d9;
   height: 50px;
   width: 300px;
   border: none;
   border-radius: 10px;
   color: #672280;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
}

.btn-logout {
   background-color: #d9d9d9;
   height: 40px;
   width: 100px;
   border: none;
   border-radius: 5px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: #672280;
}

.btn-logout:hover {
   cursor: pointer;
}

.btn-login:hover {
   cursor: pointer;
}

@media screen and (max-width: 425px) {
   .btn-logout {
      background-color: #d9d9d9;
      width: 50px;
      border: none;
      border-radius: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
      color: #672280;
      box-shadow: none;
      margin-top: 12%;
   }

   .login__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
   }

   .login__ui {
      width: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      border: none;
      border-radius: 10px;
      background-color: #672280;
   }

   .btn-login {
      background-color: #d9d9d9;
      height: 50px;
      width: 300px;
      border: none;
      border-radius: 10px;
      color: #672280;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      margin-left: 2%;
   }
}

@media screen and (max-width: 375px) {
   html {
      width: 100%;
   }
   .btn-logout {
      background-color: #d9d9d9;
      width: 60px;
      border: none;
      border-radius: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      color: #672280;
      box-shadow: none;
      margin-top: 12%;
      height: 30px;
   }

   .login__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: -20vh;
   }

   .login__ui {
      width: 40vh;
      height: 40vh;
      border: none;
      border-radius: 10px;
      background-color: #672280;
   }

   .btn-login {
      background-color: #d9d9d9;
      height: 50px;
      width: 250px;
      border: none;
      border-radius: 10px;
      color: #672280;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      float: left;
      margin-left: 5.5%;
   }

   .login__title {
      text-align: center;
      margin-top: -1%;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      color: #ffffff;
   }

   .login__phrase {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: #ffffff;
   }
}
