.login__ui {
   width: 400px;
   height: 60vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   border: none;
   border-radius: 10px;
   background-color: #672280;
}

.login__container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: auto;
}

.login__title {
   text-align: center;
   margin-top: -1%;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   color: #ffffff;
}

.login__phrase {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   text-align: center;
   color: #ffffff;
}

.login__button {
   text-align: center;
}

.login__button:hover {
   cursor: pointer;
}

.link__decoration {
   text-decoration: none;
   width: auto;
}

.logout__container {
   width: 88%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 5px;
   border-radius: 5px;
}

.sidebar__logout {
   margin: auto;
}

.logout__ui {
   height: 45px;
}

.google-icon {
   color: #672280;
}

.btn-login {
   background-color: #d9d9d9;
   height: 50px;
   width: 300px;
   border: none;
   border-radius: 10px;
   color: #672280;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
}

.btn-logout {
   background-color: #d9d9d9;
   height: 40px;
   width: 100px;
   border: none;
   border-radius: 5px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: #672280;
}

.btn-logout:hover {
   cursor: pointer;
}

.btn-login:hover {
   cursor: pointer;
}

@media screen and (max-width: 375px) {
   .login__ui {
      border-radius: 0px 0px 0px 0px;
      width: auto;
      border-radius: 10px;
      margin: 0 0;
      height: 45vh;
   }

   .btn-login {
      background-color: #d9d9d9;
      border: none;
      border-radius: 10px;
      color: #672280;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      margin-left: 20px;
      margin-right: 20px;
   }

   .login__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
   }

   .btn-logout {
      background-color: #d9d9d9;
      height: 4vh;
      width: 5vh;
      border: none;
      border-radius: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #672280;
   }

   .logout__text {
      display: none;
   }
}
