.main_side {
   display: flex;
   flex-direction: column;
   /* overflow-y: scroll; */
   /* margin: auto; */
   margin-left: 76.5%;
   /* height: 598px; */
}

.grid_sidebar_searchbar {
   display: grid;
   grid-template-columns: repeat(2, 30% 70%);
}

.video__link__style {
   text-decoration: none;
   color: black;
}
