* {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: 'Poppins', sans-serif;
}

nav {
   position: fixed;
   width: 100%;
   height: 70px;
   display: flex;
   padding: 20px 18px;
   box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
   background: #672280;
   color: white;
   align-items: center;
   justify-content: space-between;
}

.nav--logo {
   width: 80px;
   height: 50px;
   font-size: 50px;
   margin-left: -10%;
}

.navbar__logo__name,
.navbar__logo__sign__up {
   display: flex;
   gap: 5px;
   justify-content: center;
   align-items: center;
}

.home__icon,
.sub__icon {
   display: none;
}

.empty__space {
   background-color: white;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.empty__space .profile__picture {
   width: 100%;
   height: 100%;
   border-radius: 50%;
}

.navbar__sign__up {
   background-color: white;
   color: #000000;
   width: 100px;
   height: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.navbar__sign__up:hover {
   cursor: pointer;
}

.navbar__site__title {
   font-size: 20px;
   font-weight: bolder;
   margin-left: -10%;
}

@media screen and (max-width: 425px) {
   .navbar__logo__name {
      display: none;
   }
   .navbar__logo__sign__up {
      display: flex;
      gap: 5px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }
   .empty__space {
      background-color: white;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   nav {
      position: fixed;
      width: 100%;
      height: 50px;
      padding: 20px 30px;
   }
}
@media screen and (max-width: 375px) {
   .navbar__logo__name {
      display: none;
   }
   .navbar__logo__sign__up {
      display: flex;
      gap: 5px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }
   .empty__space {
      background-color: white;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   nav {
      position: fixed;
      width: 100%;
      height: 50px;
      padding: 20px 30px;
   }
}
