.popup-container {
   margin: 10px auto;
   width: 35vw;
   height: 95vh;
   border: 1px solid #672280;
   padding: 1px 15px;
   border-radius: 5px;
   background-color: rgb(77, 75, 75);
   color: #e7eff3;
   overflow-y: scroll;
   border: none;
   margin-top: 91vh;
   position: fixed;
   margin-left: -580px;
}

.hashlink {
   text-decoration: none;
   color: #e7eff3;
}

.popup-list {
   margin: 15px 0;
   display: flex;
   gap: 15px;
}

.popup-head {
   width: 70vh;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   position: fixed;
   background-color: rgb(77, 75, 75);
   padding-right: 10px;
}

.popup-messages {
   margin-top: 70px;
}

.popup-head:hover {
   cursor: pointer;
}

.popup-msg-img {
   background-color: white;
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.popup-user-icon {
   width: 100%;
   height: 100%;
   border-radius: 50%;
}

.popup-msg {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap: 10px;
   font-size: 14px;
}

.notification:hover,
.popup-msg-text:hover {
   cursor: pointer;
}

.close-button:hover {
   cursor: pointer;
}
