.identities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.profile_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 3%;
}

.photo_upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.identities_upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile_buttons{
    display: flex;
    align-self: flex-start;
    gap: 15px;
    width: 100%;
}
.profile_buttons button{
    width: 100%;
    height: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.button_link{
    width: 100%;
    text-decoration: none;
}

.profile_buttons button:hover{
    cursor: pointer;
}

.profile{
    width: 250px;
    height: 250px;
    border-radius: 10%;
}

.input_fields{
    width: 35vw;
    height: 6vh;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.photo_upload:hover{
    cursor: pointer;
}