.searchbar {
   display: flex;
   width: 25vw;
   height: 40px;
   border: none;
   font-family: 'arial';
   font-size: 15px;
   margin: 50px auto;
   justify-content: center;
   padding-left: 10px;
   padding-right: 10px;
   background: #d9d9d9;
   border-radius: 2px;
   outline: none;
   color: #672280;
}

.searchbar::placeholder {
   color: #672280;
}

.searchbar__button {
   width: 40px;
   border: 1px solid #d9d9d9;
   background: #672280;
   color: #d9d9d9;
   font-weight: bolder;
   font-size: 24px;
   padding-top: 7px;
   /* box-shadow: 0px 3px 5px #d9d9d9; */
}

.searchbar__button:hover {
   cursor: pointer;
   color: #672280;
   background: #d9d9d9;
   border: none;
   box-shadow: 0px 3px 5px rgb(164, 185, 192);
}

.searchbar__container {
   display: flex;
}

.button_link {
   text-decoration: none;
}

@media screen and (max-width: 425px) {
   .searchbar {
      display: flex;
      width: 150px;
      height: 30px;
      border: none;
      font-family: 'arial';
      font-size: 10px;
      margin: 50px auto;
      justify-content: center;
      padding-left: 10px;
      padding-right: 10px;
      background: #d9d9d9;
      border-radius: 2px;
      outline: none;
      color: #672280;
   }
   .searchbar__button {
      width: 40px;
      border: 1px solid #d9d9d9;
      background: #672280;
      color: #d9d9d9;
      font-weight: bolder;
      font-size: 10px;
      padding-top: 9px;
      /* box-shadow: 0px 3px 5px #d9d9d9; */
   }
}

@media screen and (max-width: 375px) {
   .searchbar {
      display: flex;
      width: 150px;
      height: 30px;
      border: none;
      font-family: 'arial';
      font-size: 10px;
      margin: 50px auto;
      justify-content: center;
      padding-left: 10px;
      padding-right: 10px;
      background: #d9d9d9;
      border-radius: 2px;
      outline: none;
      color: #672280;
   }
   .searchbar__button {
      width: 40px;
      border: 1px solid #d9d9d9;
      background: #672280;
      color: #d9d9d9;
      font-weight: bolder;
      font-size: 10px;
      padding-top: 7px;
      /* box-shadow: 0px 3px 5px #d9d9d9; */
   }
}
