.sidebar {
   position: fixed;
   width: 20%;
}

.hide_home,
.hide_sub {
   display: none;
}

.sidebar__submission {
   text-decoration: none;
   color: black;
}

.home__bg {
   height: 40px;
   border-radius: 5px;
   padding-top: 10px;
}

/* .home__title,
.sub__title {
   color: white;
} */

.home__title:hover,
.sub__title:hover {
   color: red;
}

.navigation {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 15px;
   margin-left: -10%;
}

.is__active {
   color: rgb(235, 23, 23);
   text-decoration: none;
}

.not__active {
   color: #e7eff3;
   text-decoration: none;
}

@media screen and (max-width: 425px) {
   .sidebar {
      background-color: rgb(103, 34, 128, 100%);
      border-right: 1px solid rgb(103, 34, 128, 100%);
      height: 100%;
      margin-top: 50px;
      width: 10%;
   }
   .sub__title,
   .home__title {
      display: none;
   }
   .home__icon,
   .sub__icon {
      display: block;
      color: #d9d9d9;
      margin-right: 3vw;
   }
   .home__icon {
      margin-left: 8.5vw;
   }
   .sub__icon {
      margin-left: -4vw;
   }
}

@media screen and (max-width: 375px) {
   .sidebar {
      background-color: rgb(103, 34, 128, 100%);
      border-right: 1px solid rgb(103, 34, 128, 100%);
      margin-top: 50px;
      width: 10%;
   }
   .sub__title,
   .home__title {
      display: none;
   }
   .home__icon,
   .sub__icon {
      display: block;
      margin-right: 3vw;
   }
   .home__icon {
      margin-left: 2vw;
   }
   .sub__icon {
      margin-left: -4vw;
   }
}
