.sidebar {
   background-color: rgb(217, 217, 217, 100%);
   border-right: 1px solid rgb(103, 34, 128, 100%);
   position: fixed;
   height: 100%;
   margin-top: 68px;
   width: 20%;
}
.sidebar__title {
   margin: 30px 35px;
}

.sidebar__submission {
   margin-left: 35px;
   text-decoration: none;
   color: black;
}

.sidebar__sub {
   margin-left: 35px;
}
