.sidebar {
   background-color: rgb(217, 217, 217, 100%);
   border-right: 1px solid rgb(103, 34, 128, 100%);
   position: fixed;
   height: 100%;
   margin-top: 68px;
   width: 20%;
}
.sidebar__title {
   margin: 30px 35px;
}

.sidebar__submission {
   margin-left: 35px;
   text-decoration: none;
   color: black;
}

.sidebar__sub {
   margin-left: 35px;
}

.home__bg {
   background-color: white;
   box-shadow: 0px 3px 5px rgb(164, 185, 192);
   height: 40px;
   width: 180px;
   border-radius: 5px;
   padding-left: 12px;
   padding-top: 10px;
}

/* .home__bg:hover {
   background-color: white;
} */

.home__margin {
   margin-top: 13px;
   margin-bottom: -20px;
}

.home__title,
.sub__title {
   color: #672280;
}

.home__title:hover,
.sub__title:hover {
   background-color: #672280;
   color: white;
}
