.sidebar {
   background-color: rgb(217, 217, 217, 100%);
   border-right: 1px solid rgb(103, 34, 128, 100%);
   position: fixed;
   height: 100%;
   margin-top: 68px;
}
.sidebar__title {
   margin: 30px 35px;
}
