.video__lecture {
   display: flex;
   flex-direction: column;
   align-items: left;
   width: 130vh;
}

.commentaire {
   margin-bottom: 1cm;
}

/* .replies-section {
   margin-bottom: 10px;
} */

.fa-solid:hover {
   cursor: pointer;
}

.reply-button {
   color: #672280;
}

.reply-button:hover {
   cursor: pointer;
}

.comment-input {
   display: flex;
   gap: 20px;
}

.form-button:hover {
   cursor: pointer;
}

.comment-part {
   margin-top: 25px;
   display: flex;
   flex-direction: row;
   gap: 60px;
}

.comment-part-2 {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 15px;
   margin-top: 20px;
}

input.input {
   border-top: none;
   border-left: none;
   border-right: none;
   border-color: #979393;
   width: 30vw;
   outline: none;
   background: none;
}

.comment-edit {
   margin-top: 10px;
   display: flex;
   justify-content: left;
   align-items: center;
   gap: 10px;
}

.comment-time {
   display: flex;
   gap: 20px;
   margin-bottom: -20px;
}

.comment-user {
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

.user-names {
   display: flex;
   flex-direction: column;
}

.profile-picture {
   border-radius: 50%;
   width: 40px;
   height: 40px;
}

.comment-mentions {
   display: flex;
   gap: 15px;
}

.comment-replies {
   display: flex;
   gap: 15px;
   margin-top: 15px;
}

a {
   text-decoration: none;
}

.video__read__title {
   width: 128vh;
}

iframe {
   width: 128vh;
   height: 68vh;
}

.reading__page {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   gap: 5%;
   padding-top: 7%;
   margin: 0 2%;
}

.reading__page__container {
   height: 100vh;
   /* overflow-y: scroll; */
}

.video__infos {
   color: #672280;
}

.comment__infos {
   display: inline;
}

.video__infos {
   display: flex;
   gap: 3vh;
}

.channel__image {
   height: 50px;
   width: 50px;
   border-radius: 50%;
}

.image__channel {
   width: 100%;
   height: 100%;
   border-radius: 50%;
}

.channel__info__container {
   display: flex;
   flex-direction: row;
   justify-content: left;
   align-items: center;
   gap: 10px;
   margin-top: 2vh;
}

.comment__infos:hover {
   cursor: pointer;
}

.channel__link {
   text-decoration: none;
   color: #672280;
}

HashLink,
.hash__link {
   text-decoration: none;
}

@media screen and (max-width: 425px) {
   .video__lecture {
      display: flex;
      flex-direction: column;
      align-items: left;
      padding-top: 8%;
      width: 70vh;
   }

   iframe {
      width: 70vh;
      height: auto;
   }

   .reading__page {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 5%;
      padding-top: 7%;
      overflow-y: scroll;
      /* height: 100vh; */
   }
   .video__infos {
      color: #672280;
      font-size: 12px;
   }

   .channel__info__container {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 10px;
      margin-top: 5vh;
   }
}

@media screen and (max-width: 375px) {
   .video__lecture {
      display: flex;
      flex-direction: column;
      align-items: left;
      margin-top: 7.5%;
      padding-top: 0px;
      width: 45vh;
      position: fixed;
      background-color: #d9d9d9;
      margin-left: -46%;
   }

   iframe {
      width: 45vh;
      height: auto;
   }

   .video__read__title {
      width: 45vh;
   }

   .reading__page {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 5%;
      padding-top: 7%;
      overflow-y: scroll;
      margin: 0;
   }
   .video__infos {
      color: #672280;
      font-size: 9px;
   }

   .related__videos {
      margin-top: 43vh;
   }

   .channel__image {
      height: 30px;
      width: 30px;
      border-radius: 50%;
   }

   .image__channel {
      width: 100%;
      height: 100%;
      border-radius: 50%;
   }

   .channel__info__container {
      gap: 5px;
      margin-top: 0;
   }
}
